{% extends "base.html" %}
{% block title %}About{% endlock %}
{% block body %}
<div class="jumbotron">
    <h1>The About Page</h1>
    <p class="lead">This paper gives an overview of a login application, Log-Me helps user to login to his/her private page,  Register if he/she is a new user. And it gives special consideration regarding security. Password checking, with the existing one present in database. In case if both of the passwords matches, confirms the user to log in. Later, a page displaying Hello username  will be shown.</p>
    </div>
{% endblock %}