<!DOCTYPE html>
<html lang="en">
	<head>
	<title>{% block title %}{% endblock %}</title>
	<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootsrap.min.css" rel="stylesheet">

	<link href="https://maxcdn.bootstrapcdn.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">

	</head>
	<body>
	  <div class="container">
	  <div class="header clearfix">
	  <nav>
		  <ul class="nav nav-pills pull-right">
			  <lirole="presentation"><ahref="/">SignUp</ahref></lirole>
			  <lirole="presentation"><a href="/about">About</a></lirole>
		  </ul>
		
		</nav>
	  </div>
	  {% block body %}
	  {% endblock %}
	  <footer class="footer">
		  <p> 2019 Athira Nair K</p>
	  </footer>
	  </div>
	 </body>
	 </html> 
	
