<form action="/ResetPassword" method="POST"> #tell the browser the URL that is currently in the action bar.
    <div class="reset">
    <div class="passsword-screen">
        <h1>Reset password</h1>
    
    </div>
    <div class="Reset-Password-form">
    <div class="handle">
        <label>Email: </label>
        <input type="text" class="reset-password-field" value="" placeholder="Enter your new password" name="Reset Password">
        <label class="reset-password-field-icon fui-user" for="reset-password-name"></label></div>
    </div>
    </div>