<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css" />
</head>
<body>
<section class="hero is-primary is-fullheight">

<div class="column is-4 is-offset-4">
        <h3 class="title">ResetPassword</h3>
        <div class="box">
        <form action="/ResetPassword" method="POST"> <!---tell the browser the URL that is currently in the action bar.-->
            
                <div class="field">
                <div class="control">
    
                <label>Email: </label>
                <input type="text" class="reset-password-field" value="" placeholder="Enter your Email" name="please enter Email_ID">
                <label class="reset-password-field-icon fui-user" for="reset-password-name"></label></div>
                </div>
                </div>
                <button class="button is-block is-info is-large is-fullwidth">Reset</button>
        </form>
        </div>
        </div>
    </section>
</body>