<form action="/SignUp" method="POST">
    <div class="SignUp">
        <div class="SignUp-Screen">
            <h1>SignUp</h1>

        </div>
        <div class="SignUp-Form">
            <div class="handle">
                <label>Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Select a username">
                </div>
                <div class="handle">
                        <label>Email</label>
                        <input type="text" class="form-control" id="email" name="email" placeholder="Enter your Email">
                
                <div class="handle">
                        <label>Password</label>
                        <input type="Password" class="form-control" id="password" name="password" placeholder="Enter your Password">
                
                </div>
                </div>
                </div>
                
            </div>
        </div>

    </div>
</form>